* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

#board {
    height: 100%;
}

.card {
    width: 200px;
    height: 300px;
    display: block;
    position: absolute;
    color: white;
}

.card-image {
    width: 200px;
    height: 300px;
}